
main {
    justify-content: flex-start;
    padding: 50px 1em;
}

main h2 {
    color: #FF007A;
    border-bottom: 2px solid #FF007A;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
}


ul li::marker {
    color: #FF007A;
}


main p, main li {
    margin-bottom: 0.75em;
}


.how-btn {
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF007A;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.how-btn:hover {
    background-color: #e6006e;
}
